.grid-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.grid-list-item {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.flex-list {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  max-height: 70vh;
  margin-top: 10px;
}

.flex-item {
  width: 600px;
  min-width: 600px;
  max-height: 120px;
  min-height: 120px;
  padding: 20px 10px;
  background-color: dodgerblue;
  margin-bottom: 5px;
  border-radius: 10px;
}
