<div class="assignment">
  <div class="name">{{assignment.name}}</div>
  <div class="info">
    <div class="course">Course: {{name}}</div>
    <div class="date">Due to: {{assignment.dueDate | date: "dd.MM.yyyy"}}</div>
  </div>
  <div class="accordion">
    <ngb-accordion #a="ngbAccordion" (panelChange)="load($event)">
      <ngb-panel id="upload">
        <ng-template ngbPanelHeader>
          <a href (click)="toggle($event, a, 'upload')" class="upload-header">Setup</a>
          <button class="upload-btn" (click)="openUploadForm()" *ngIf="checkOwnership()">Upload</button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div (click)="downloadUpload()" class="download-link">
            {{upload?.name}}
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
