<div class="assignment">
  <div class="name">{{assignment.name}}</div>
  <div class="info">
    <div class="course">Course: {{course.name}}</div>
    <div class="date">Due to: {{assignment.dueDate | date: "dd.MM.yyyy"}}</div>
  </div>
  <div class="accordion">
    <ngb-accordion #a="ngbAccordion" (panelChange)="load($event)">
      <ngb-panel id="setup">
        <ng-template ngbPanelHeader>
          <a href class="upload-header" (click)="toggle($event, a, 'setup')">Setup</a>
        </ng-template>
        <ng-template ngbPanelContent>
          <div (click)="downloadSetup()" class="download-link">
            {{setup?.name}}
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="upload">
        <ng-template ngbPanelHeader>
          <a href (click)="toggle($event, a, 'upload')" class="upload-header">My uploads</a>
          <button class="upload-btn">Upload</button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div (click)="downloadUpload(upload.key)" class="download-link" *ngFor="let upload of uploads | keyvalue">
            {{upload?.value?.name}}
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
