.assignment {
  min-height: 220px;
  width: 600px;
  background-color: dodgerblue;
  margin-bottom: 10px;
  font-family: Monaco, "Lucida Console", monospace;
  color: whitesmoke;
  border-radius: 5px;
}

.name {
  font-size: 18px;
  min-height: 50px;
  max-height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.course {
  padding-left: 10px;
}

.date {
  padding-right: 10px;
}

.accordion {
  padding-left: 10px;
  padding-right: 10px;
  color: dodgerblue;
}

.download-link:hover {
  cursor: pointer;
}

.download-link {
  padding-left: 20px;
  padding-bottom: 4px;
}

.upload-btn {
  float: right;
  color: whitesmoke;
  background-color: dodgerblue;
  border: 0;
  border-radius: 3px;
}

.upload-header {
  padding-left: 10px;
}

.upload-header:hover {
  text-decoration: none;
  cursor: pointer;
}

