.card {
  min-height: 150px;
  height: fit-content;
  min-width: 440px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
  font-family: Monaco, "Lucida Console", monospace;
  color: whitesmoke;
  padding: 10px;
}

.name {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.email {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.accordion {
  color: dodgerblue;
}

.upload-header {
  padding-left: 10px;
}

.upload-header:hover {
  text-decoration: none;
  cursor: pointer;
}

.download-link:hover {
  cursor: pointer;
}

.download-link {
  padding-left: 20px;
  padding-bottom: 4px;
}
