<div class="course-card">
  <div class="course-name" [routerLink]="getRoute()" >{{course.name}}</div>
  <div class="course-desc">{{course.description}}</div>
  <div class="course-info">
    <div class="course-students">{{getEnrollment()}}/div>
    <div class="course-assignments">{{getAssignments()}}</div>
  </div>
  <div class="course-rating">
    <ngb-rating [rate]="getRating()" max="5" [readonly]="!button"></ngb-rating>
  </div>
  <div class="course-options">
    <button class="enroll" [disabled]="checkEnrolled()" (click)="enroll()">Enroll</button>
    <button class="withdraw" [disabled]="checkWithdraw()" (click)="withdraw()">Withdraw</button>
  </div>
</div>
