.course-card {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
}

.course-name {
  font-weight: bold;
  font-size: 16px;
  min-height: 40px;
  max-height: 40px;
}

.course-desc {
  font-size: 14px;
  min-height: 50px;
  max-height: 50px;
}

.course-info {
  display: flex;
  flex-flow: row nowrap;
  font-size: 11px;
  justify-content: space-between;
  margin-top: 2px;
}

.course-students {
  justify-self: flex-start;
}

.course-assignments {
  justify-self: flex-end;
}

.course-rating {
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
}

.course-options {
  display: flex;
  justify-content: space-between;
}

.enroll {
  border-radius: 5px;
  color: whitesmoke;
  background-color: lightgreen;
  border: 0;
}

.withdraw {
  border-radius: 5px;
  color: whitesmoke;
  background-color: indianred;
  border: 0;
}

.enroll:hover {
  background-color: lightgreen;
}

.withdraw:hover {
  background-color: indianred;
}

button[disabled] {
  background-color: gray;
}

button[disabled]:hover {
  background-color: gray;
}
