<div class="ui huge secondary menu">
  <div class="item">
    <i class="big terminal icon"></i>
  </div>
  <div class="item">
    <div class="ui medium header">CManage</div>
  </div>
  <div class="right menu">
    <div class="ui item">
      <button class="ui primary medium button" routerLink="register">Sign up</button>
    </div>
    <div class="ui item">
      <button class="ui medium button" routerLink="">Login</button>
    </div>
  </div>
</div>
<div class="ui three column grid">
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="ui blue inverted center aligned segment navbar-footer">
  <p>Class management app</p>
  <p>&#169; Denis Selimović</p>
</div>
