.lesson {
  min-height: 170px;
  height: fit-content;
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: Monaco, "Lucida Console", monospace;
  color: whitesmoke;
  background-color: dodgerblue;
  border-radius: 5px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.description {
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.accordion {
  padding-left: 10px;
  padding-right: 10px;
  color: dodgerblue;
}


.download-link:hover {
  cursor: pointer;
}

.download-link {
  padding-left: 20px;
  padding-bottom: 4px;
}

.upload-btn {
  float: right;
  color: whitesmoke;
  background-color: dodgerblue;
  border: 0;
  border-radius: 3px;
}

.upload-header {
  padding-left: 10px;
}

.upload-header:hover {
  text-decoration: none;
  cursor: pointer;
}
