<div class="menu">
  <div class="item profile">
    <div class="name">{{course.name}}</div>
    <div class="info">{{course?.students?.length}} students</div>
    <div class="info">{{course?.lessons?.length}} lessons</div>
    <ngb-rating [rate]="getRating()" class="rating" readonly="true" max="5"></ngb-rating>
    <div class="tutor" *ngIf="tutor">Tutor: {{tutor}}</div>
  </div>
  <div class="item link button" (click)="navigate('lessons')">Lessons</div>
  <div class="item link button" (click)="navigate('assignments')">Assignments</div>
  <div class="item link button" (click)="navigate('students')" *ngIf="checkOwnership()">Students</div>
</div>
