<div class="footer-grid">
  <div class="copyright">
    Copyright &#169; by Denis Selimović. All rights reserved.
  </div>
  <div class="info">
    <a href="https://www.instagram.com/denis.selimovic" target="_blank" class="button">
      <img src="assets/instagram.png"/>
    </a>
    <a href="https://github.com/dselimovic1" target="_blank" class="button">
      <img src="assets/github.png"/>
    </a>
    <a href="https://www.linkedin.com/in/denis-selimovic-a531aa125" target="_blank" class="button">
      <img src="assets/linkedin.png"/>
    </a>
  </div>
</div>
